.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: #fafafa;
  $gradient-angle: 10deg;
  $hero-image: '/gotsrc-github/res/img/hero-bg.jpg';
  background-image: url($hero-image);
  background-color: #9cb748;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
      
       h1 {
        color: $hero-color;
        font-size: 3.5em;
        margin-bottom: 0.5em;
        text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }
    .hero-copy {
      text-align: center;
      
      h2 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
