nav { color: #f1f1f1; }
.current { 
	background-color: #bada55;
	color: #242424;
	text-decoration: none;
	border-radius: 5px; 
}

.current:hover {
	background-color: #434343;
	color: #bada55;
}

.nav { 
	margin: 4px;
	margin-top: 4px;
	padding: 0px;
	list-style-type: none;
}
.nav > li {
	display: inline-block;
	margin: 0;
}

.nav > li > a {
	padding: 5px;
}	
.nav > li a:hover {
	background-color: #343434; color: #bada55;
	border-radius: 5px;
}

.nav-head { color: #bada55; font-size: 1.0rem; }
.nav-head > li > a { color: #666; text-decoration: none; }
.nav-head .current { color: #212121; }
.nav-foot > li > a { color: #666; }
.nav-foot .current { color: #212121; }
.nav-foot { color: #666666; font-size: 0.8rem; }
