<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>{% if page.title == NULL %}{gS}{% else %}{gS} - {{page.title}}{% endif %}</title>
	<link href="{{site.baseurl}}/res/css/all.css" rel="stylesheet"> 
</head>
<body>

<header id="top">
	<header class="top-bar">
		<div class="pull-left"><h1>{<span class="gs-green">g</span><span style="color: #f1f1f1">S</span>}</h1></div>
		<div class="pull-right">{% include nav.html navclass='nav-head' %}</div>
	</header>
	<div class="clearfix"></div>
</header>

		{{content}}
    
<footer id="bottom">
	<div class="footer-content">
	
	<div class="pull-left">
		<p style="font-size: 10pt; color: #ccc; ">&copy; 2016 {gS}, All Rights Reserved unless stated otherwise.</p>
	</div>
	<div class="pull-right">{% include nav.html navclass='nav-foot' %}</div>
    <div class="clearfix"></div>
	</div>
</footer>	
</body>
</html>
