<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8">
	<title>{% if page.title == NULL %}{gS}{% else %}{gS} - {{page.title}}{% endif %}</title>
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet"> 
</head>
<body>

<header id="top">
	<header class="top-bar">
		<div class="pull-left"><h1>{<span class="gs-green">gS</span>}</h1></div>
		<div class="pull-right">{% include nav.html navclass='nav-head' %}</div>
	</header>
	<div class="clearfix"></div>
</header>

<section id="content">
	<div class="main-content">
		{{content}}
	</div>	
</section>
<footer>
	{% include nav.html navclass='nav-foot' %}
	<p>&copy; 2016 {gS}, All Rights Reserved unless stated otherwise.</p>
</footer>	
</body>
</html>
