html {
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Consolas, "Source Code Pro", monospace;
}
body {
	margin: 0;
	padding: 0;
}

.main-content { 
	padding: 15px 30px;
}


.pull-left { float: left; }
.pull-right { float: right; }
.clearfix { clear: both; }

.gs-green { color: #bada55; }
.gs-grey { color: #212121; }